* {
    margin: 0;
    padding: 0;
    background-color: rgb(181, 200, 200);
}

.meetingMenu {
    text-align: center;
}

#myLabel {
    font-size: 2em;
}

#mySubmit {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#mySubmit:hover {
    background-color: rgb(25, 25, 25);
}


.Inputs{
    margin: 10px 20px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 5px;
}

